* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, );
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.img {
    display: grid;
}

.pokedex-img {
    max-width: 100%;
    grid-column: 1;
    grid-row: 1/6;
}

.pokemon {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
    margin-top: 45%;
}

.poke-info {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    margin-top: 74%;
}

.poke-info>span {
    font-size: clamp(8px, 5vw, 25px);
    font-weight: 700;
}

.search {
    grid-column: 1;
    grid-row: 3;
    margin: auto;
}

.search>form>input {
    height: 50px;
    width: 210px;
    border-radius: 6px;
    margin-top: 23%;
    box-shadow: -8px 3px 1px black;
}

.botao {
    display: flex;
    justify-content: space-around;
}

.botao>input {
    width: 80px;
    margin-top: 15%;
    height: 40px;
    background-color: rgb(53, 49, 49);
    color: white;
    border-radius: 3px;
    box-shadow: -5px 2px 1px black;
}